:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primay-grey-color: #2F303A;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --examples-button-color: #F5F4FA;
    --border-color: #eeeeee;
    --border-modal-color: rgba(33, 33, 33, 0.2);
    --primary-icon-color: #AFB1B8;
    --footer-fon-social-link: rgba(255, 255, 255, 0.1);
    --primary-animation-function: cubic-bezier(0.4, 0, 0.2, 1);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}

/* Цвет фона #ffffff */
/* Цвет фона героя и футера #2F303A */
/* Цвет фона "Наша команда" #F5F4FA */
/* Цвет основного текста #757575 */
/* Цвет вторичного текста #212121 */
/* Белый #ffffff */
/* Акцент #2196F3 */
/* в футере #FFFFFF 60 % */

/* Стили Веб-сайта */
/* Style Web-site */

/* Основные стили страницы */
/* Basic Page Styles */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Сброс свойств */
/* Reset properties */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}


/* container */
/* Служит для обертывания секций 
(задается основная ширина, отступы, центрирование */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Шапка сайта */
/* Header */
.page-header {
    border-bottom: 1px solid var(--border-color);
}

.header-flex {
    display: flex;
}

.nav {
    display: flex;
}

/* Логотип */
/* logo */
.logo {
    display: block;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo .studio {
    color: var(--title-text-color);
}



/* Навигация сайта */
/* site-nav */
.site-nav {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

.site-nav .item {

    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--acent-color);
}

.site-nav .link.current {
    color: var(--acent-color);
    position: relative;
}

.site-nav .link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    content: "";
    background-color: var(--acent-color);
    border-radius: 2px;
}

/* .site-nav .link.current::after {
    content: "";
    display: block;
    height: 4px;
    background-color: var(--acent-color);
    border-radius: 2px;
} */



/* Блок контактов */
/* contacts */
.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.contacts .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
}

.contacts .link:last-child {
    margin-right: 0;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--acent-color);
    fill: var(--acent-color);
}

.contacts .icon {
    margin-right: 10px;
}

/* Блок герой */
/* hero */
.hero {
    padding: 200px 0;
    background-color: var(--primay-grey-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundHero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero .title {
    width: 696px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.hero .btn {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* Секция */
/* section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

/* Секция преимуществ */
/* features-section */

/* Блок преимуществ */
/* features block */
.section-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.features-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.features-list .text {
    max-width: 270px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}

.features-list .thumb {
    background-color: var(--examples-button-color);
    border-radius: 4px;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/* Блок работы */
/* Work block */
.work {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.section.work {
    padding-top: 0;
}

.work .item {
    position: relative;
}

.work .title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.work .text-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}

/* Секция команды */
/* team-section */

.team {
    background-color: var(--examples-button-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.team-list>.item {
    margin-left: 30px;
    border: 1px solid var(--border-color);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list>.item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-list .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.team-list .content-team {
    padding: 30px 32px;
    background-color: var(--primary-white-color);
}

.social-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.social-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--primary-icon-color);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
}

.social-list .link:hover,
.social-list .link:focus {
    background-color: var(--acent-color);
    fill: var(--primary-white-color);
}


.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.clients-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--primary-icon-color);
    border-radius: 4px;
    fill: var(--primary-icon-color);
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
}

.clients-list .link:hover,
.clients-list .link:focus {
    border: 1px solid var(--acent-color);
    fill: var(--acent-color);
}

/* Подвал */
/* footer */
.footer {
    background-color: var(--primay-grey-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    display: block;
    align-items: center;
    margin-right: 93px;
    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-footer .studio-footer {
    color: var(--primary-white-color);
}

.footer .logo-footer {
    margin-bottom: 20px;
    display: block;
}

.address {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.address .link {
    color: var(--address-link-color);
    font-style: normal;
    line-height: 1.71;
}

.address .sity {
    color: var(--primary-white-color);
    font-style: normal;
    margin-bottom: 9px;
}

.address .sity-link {
    margin-bottom: 9px;
}

.sity-link:last-child {
    margin-bottom: 0;
}

.footer .social {
    width: 206px;
    margin-right: 93px;
}

.footer .social-text {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer .social-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.container.flex {
    display: flex;
    align-items: baseline;
}

.footer .studio-address {
    margin-right: 70px;
}

.footer .social-list .link {
    background-color: var(--footer-fon-social-link);
    fill: var(--primary-white-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
}

.footer .social-list .link:hover,
.footer .social-list .link:focus {
    background-color: var(--acent-color);
}

.subscription .btn {
    display: inline-block;
    margin: 0 auto;
    background-color: var(--acent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    /* padding: 10px auto; */
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription .btn::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/iconsend.svg);
    vertical-align: middle;
}

.subscription-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
}

.subscription-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    width: 528px;
    height: 580px;
    left: 50%;
    top: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--primary-white-color);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus .icon-modal {
    fill: var(--acent-color);
}

.modal-form-explanation {
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.contact-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;

}

.contact-form-field {
    display: block;
    margin-bottom: 10px;
}

.contact-form-field.textarea {
    margin-bottom: 20px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.contact-form-input:focus {
    outline: none;
    border-color: var(--acent-color);

}

.contact-form-input:hover {
    cursor: pointer;
}

.contact-form-input:focus+.contact-form-icon {
    fill: var(--acent-color);
}

.contact-form-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.contact-form-messag {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.contact-form-messag:focus {
    outline: none;
    border-color: var(--acent-color);

}

.contact-form-messag:hover {
    cursor: pointer;
}

.contact-form-messag::placeholder {
    color: var(--placeholder-color);
}

.contact-form-checkbox-wraper {
    margin-bottom: 30px;
}

.contact-form-checkbox-label .link {
    color: var(--acent-color);
    text-decoration: underline;
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.contact-form-checkbox-label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.contact-form-checbox:focus+.contact-form-checkbox-label::before {
    border: 1px solid var(--acent-color);
}

.contact-form-checbox:checked+.contact-form-checkbox-label::before {
    background-image: url(../images/iconcheck.svg);
    background-color: var(--acent-color);
    border: none;
}

.contact-form-icon {
    position: absolute;
    left: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
}

.contact-form .btn {
    display: block;
    margin: 0 auto;
    background-color: var(--acent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Портфолио */
/* portfolio */

.portfolio-section-title {
    margin-top: 0;
    margin-bottom: 94px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-section-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Блок кнопок */
/* Button block */
.examples-buton {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
}

.examples-buton .btn {
    background-color: var(--examples-button-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
}

.examples-buton .item:not(:last-child) {
    margin-right: 8px;
}

.examples-buton .btn:hover,
.examples-buton .btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--acent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}

/* Блок примеров работ */
/* examples block */
.examples {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.examples .item {
    margin-left: 30px;
    border: 1px solid var(--border-color);
    border-top: 0;

}

.examples .example-link {
    position: relative;
    display: block;
    color: inherit;
    font-size: inherit;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
}

.examples .example-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

/* Блок описания картинок */
/* Image description block */
.description {
    padding: 20px 24px;
}

.examples .title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples .text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
}

.example-thumb {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
    background-color: rgba(33, 150, 243, 0.9);

}

.overlay .text {
    width: 322px;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-white-color);
}

.example-link:hover .overlay {
    transform: translateY(0);
}